@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
*{
    font-family: 'Gemunu Libre', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100% ;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("1876.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
   overflow: hidden;
    font-size: 22px;
}
.nav{
    width: 100%;
    margin: 10;
    padding: 22px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{

    color: purple;
    cursor: pointer;
}
.nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
 
}
.nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: purple;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;


}
.nav ul li:hover::after{
    width: 100%;
}
.conten{
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    margin-left: -130px;
}
.conten h1{
    font-size:70px;
    margin-top: 80px;
}
.conten p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid purple;
    color: white;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
    font-size: 20px;
}
button:hover{
    background: purple;
    color: white;
}